.index_body{
    margin-left: 30px;
    margin-top: 30px;
}

.inline_block{
    display: inline-block;
}

.main_nav{

    align-items: center;
    margin-bottom: 77px;
    padding-right: 22px;
    vertical-align: middle;
}

li{
    padding-right: 30px;
}

.logo_div{
    align-items: center;
    margin-right: 43px;
    margin-bottom: 77px;
    vertical-align: middle;

}

.banner_div{
    margin-left: 98px;
    margin-bottom: 10.2%;
}

.banner{
    width: 85.5%;
    height: 40.8%;
}

.app_section{
    margin-left: 98px;
    margin-bottom: 100px;
    padding-top: 18px;
}

footer{
    margin-left: 98px;
    margin-bottom: 30px;
}

.facebook{
    padding-right: 37px;
    border-right: #363E97;
    border-right-width: 1px;
    border-style: groove;
    
}

.youtube{
    padding-left: 30px;
}

.index_main{
    margin-bottom: 70px;
}

/* articles styles*/

.first_section{
    background-color: #F2F2F2;
    color:black;
    margin-right: 47px ;
    width: 25px;
    vertical-align: middle;
    
    
}

.second_section{
    background-color: #F2F2F2;
    color:black;
    margin-right: 47px ;
    width: 25px;
    vertical-align: middle;
   
    
}
.titleofarticle{
    margin-left: 98px;
    margin-bottom: 35px;
}
.articles{
    width: 570px;
    vertical-align: middle;
    background-color: #F2F2F2;
    
}

.imgs_article{
    width: 100px;
    object-fit: contain;
}


.article_text{
    width: 355px;
    object-fit: contain;
    padding-bottom: 53px;
    
}
/* styles of contact.html*/

#contact_main{
    background-color:#E6E6E6;
}

.contact_title{
    padding-top: 18px;
    padding-left: 18px ;
    padding-bottom: 21px;
}

.contact_div{
    vertical-align: top;
    margin-left: 97px;
    margin-top: 59px;
    margin-right: 44px;;
}

.iframe_div{
    width: 65%;
    height: 466px;
    margin-top: 49px;
    margin-bottom: 55px;
}

.contact_footer{
    margin-top: 33px;
}

.contact_header{
    margin-top: 30px;
    margin-left: 30px;
}

/* news,html */

.margin{
    margin-top: 25px;

}

.article_img{
    width: 270px;
    height: 210px;
}

.article_text{
    font-family: 'BPG Ingiri Arial', sans-serif;
    margin-left: 25px;
    margin-top: 25px;
    line-height: 20px;
    font-weight: 10;
}

.date_div{
    width: 56px;
    height: 56px;
    background-color: #3D58A6;
    color: #FFFFFF;
    font-size: 56px;
    margin: 25px;
    margin-bottom: 25px;
    
}

.date_month{
    margin-top: 11px;
    color: #3D58A6;
    width: 56px;
    height: 56px;
    font-size: 22px;
    

}

.news_article{
    width: 1300;
    object-fit: contain;
}
